.btn-wrap {
    width: 100%;
    margin-top: 45px;
    button {
        display: block;
        margin : 0 auto;
    }
}

@media only screen and (max-width: 425px) {
    .btn-wrap {
        margin-top: 30px;
    }
}


// buttons
.btn {
    font-family: @sF;
    font-size  : 1.33rem;
    font-weight: 700;

    border       : none;
    border-radius: 3px;
    outline      : none;

    cursor: pointer;

    transition: all 0.1s linear;

    svg {
        fill: #283593;
        transition: all 0.1s linear;

        &:hover {
            fill:#2638bb;
        }
    }

    &--primary {
        min-width: 290px;
        height   : 40px;

        background: @primary;
        color     : #fff;

        &:hover {
            background: @primary-hov;
        }
    }

    &--secondary {
        min-width: 290px;
        height   : 40px;

        background: none;
        color     : @primary;

        border: 2px solid @primary;

        &:hover {
            background: #fee6d2;
            color     : #fc831f;
        }
    }

    &--disabled {
        min-width: 290px;
        height   : 40px;

        background: #d7d7d7;
        color     : #8d8c8c;
        cursor    : unset;
    }

    &--icon {
        min-width : none;
        background: none;
        border    : none;
        outline   : none;
    }
}