@import "./variables.less";

h1 {
    font-size  : 3.33rem;
    line-height: 4rem;
}

h2 {
    font-size  : 2.8rem;
    line-height: 3.4rem;
}

h3 {
    font-size  : 1.73rem;
    line-height: 2.06rem;
}

h4 {
    font-size  : 1.46rem;
    line-height: 1.73rem;
}

h5 {
    font-size  : 1.2rem;
    line-height: 1.4rem;
}

a {
    text-decoration: none;
    color          : #000;

    &:hover {
        color: @primary;
    }
}

p {
    font-family: @sF;
    font-size  : 1.2rem;
    line-height: 1.73rem;
}

.text-white {
    color: #fff;
}

// buttons

.btn {
    font-family: @sF;
    font-size  : 1.33rem;
    font-weight: 400;

    border       : none;
    border-radius: 3px;

    cursor: pointer;

    transition: all 0.2s linear;

    &--primary {
        min-width: 290px;
        height   : 40px;

        background: @primary;
        color     : #fff;

        &:hover {
            background: @primary-hov;
        }
    }

    &--secondary {
        min-width: 290px;
        height   : 40px;

        background: none;
        color     : @primary;

        border: 2px solid @primary;

        &:hover {
            background: #fee6d2;
            color     : #fc831f;
        }
    }

    &--icon {
        min-width : none;
        background: none;
        border    : none;
    }

}